name: PR Checks

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  semantic-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - name: Check semantic PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            deps
            chore
          requireScope: false
          subjectPattern: ^[a-z].+\S$
          subjectPatternError: Subject must start with a lowercase letter and not end with whitespace.
  build:
    name: "Build, lint and test JS"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Use Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: bun install
      - run: bun lint
      - run: bun test
      - run: bun run start budget --banks up --headless --outdir=/tmp/statements
        env:
          UP_TOKEN: ${{ secrets.UP_TOKEN }}
      - name: Upload Statements
        uses: actions/upload-artifact@v4
        with:
          name: statements
          path: /tmp/statements/*.csv
