name: Build/publish docker image

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Build/publish image
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: treetrum/treetrum-cli
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          tags: "latest,${{ github.ref_name }}"
